body{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    overflow-x: hidden !important;
}

html, body, html * {
    font-family: 'Lato', sans-serif;
}

.banner-cv-container{
    height: 200px;
    padding-right: 0;
    padding-left: 15px;
}

.banner-image{
    width: -webkit-fill-available;
    z-index: -1;
    height: 200px;
    filter: brightness(75%);
}

.profile-image{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    margin-right: 40px;
}

.picture-title-container{
    display: inline-flex;
    position: relative;
    bottom: 176px;
    padding-left: 50px;
}

.title-header{
    max-width: 400px;
    color: #FFF;
    font-size: 31px;
    margin-bottom: 10px;
}


.work-experience-container{
    background-color: rgb(239,239,239);
    padding-left: 40px;
}

.header-title-name-container{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.op-7{
    opacity: 0.7;
}

.sub-section-container{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 50px;
}

.perfil-title:before {
    content : "";
    position: absolute;
    top  : 68px;
    height  : 1px;
    width   : 15%; 
    border-bottom: 6px solid rgb(1,114,170);
  }

  .perfil-title{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .sub-section-parent{
      position: relative;
  }

  .job-name{
      font-weight: bold;
      text-transform: uppercase;
  }

  .job-date-company{
      text-transform: uppercase;
      font-size: 13px;
  }

  .work-experience-sub-container{
    margin-bottom: 50px;
  }

  .profile-section-content{
      margin-bottom: 3px;
  }

  .material-icons{
    width: 23px;
    margin-right: 10px;;
  }

  .material-icon-container{
      margin-bottom: 10px;
  }

  .mbot-7{
    margin-bottom: 7px;
  }

  .social-network-container{
    position: fixed;
    top: 40%;
    padding: 20px;
    background-color: rgb(239,239,239);
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
  }

  .social-network-container img:hover{
    transform: scale(1.5);
    cursor: pointer;
  }

  @media only screen and (max-width: 767px) {   
    .social-network-container img:hover{
        transform: scale(1.5);
        cursor: pointer;
    } 
    .banner-image{
        width: fit-content;
    }
    .picture-title-container{
        padding-left: 15px;
    }
    .banner-cv-container{
        height: 200px;
        padding-right: 0;
        padding-left: 0;
    }
    .profile-image{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 20px;
    }
    .title-header{
        max-width: 125px;
        font-size: 22px;
    }
    body{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .work-experience-container{
        margin-top: 40px;
        padding-left: 15px;
    }
    .work-experience-title:before{
        content: "";
        position: absolute;
        top: 100px;
        height: 1px;
        width: 15%;
        border-bottom: 6px solid rgb(1,114,170);
    }
  }